*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;

    
}
.header{
    height: 100vh;
    background-image: /*linear-gradient(to top, rgba(15, 216, 79, 0.3) 0%, rgba(249, 240, 71, 0.3) 100%) ,*/ url(img/header6.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-shadow: #fff 0 6px 30px;
}


.logotipo{
    width: 20%;
}
.navbar-toggler{
    box-shadow: none !important;
}
.navbar-toggler:focus{
    border:none !important
 
}

.hamburguer{
    position: absolute;
    top: 30px;
    right: 15px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
/*
.menu-navegacion{
    position:absolute;
    top: 0;
    width: 30vw;
    height: 100%;
    background: #000000;  /* fallback for old browsers 
    background-image: linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 
    background-image: linear-gradient(135deg, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    
}
*/
.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}



.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}
.es{
    color:#fff;
    
}
.en{
    color:green;
    
}
.check{
    position: relative;
    width: 50px;
}
.check:before{
    content: "";
    position: absolute;
    width: 50px;   
    height: 25px;
    background: #fff;
    border-radius: 25px;
}
.check:after{
    content: "";
    position: absolute;
    width: 25px; 
    height: 25px;  
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;

}
.check:checked:after{
    left: 25px;
    border: 2px solid #008000;
}
.check:checked:before{
    background: green;
}


/* Menu 2*/
.titulo3{
    color:black;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.subtitulo{
    color:black;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}
.checklist-servicio{
    width: 45%;
}
/* Menu 3*/
.gallery{
    background: #f2f2f2;
    overflow: hidden;
    
    
}
#btn-abrir-modal{
    background-color: none !important;
    border-width: none !important;
    border-color: none !important;
    color:none !important;
    border-style: none !important;
}
#btn-abrir-modal2{
    background-color: none !important;
    border-width: none !important;
    border-color: none !important;
    color:none !important;
    border-style: none !important;
}
#btn-abrir-modal3{
    background-color: none !important;
    border-width: none !important;
    border-color: none !important;
    color:none !important;
    border-style: none !important;
}




/*.gallery{

    background: rgba(173, 243, 239, 0.082);
}*/

.contenedor-gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*margin-top: 30px;*/
    align-items: center;

}

/*
.contenedor-galeria{
    width: 30%;
    display: flex;
    /*cursor: pointer;
    /*box-shadow: 0 0 6px rgb(0 0 0 / 60%);
    margin-top: 30px;
    
}
*/

.gallerychild{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 30%;
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
}
.img-galeria{
    width: 100%;
    display: block;
    box-shadow: 0 0 6px rgb(0 0 0 / 60%);
    
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, 0.787);
}
#modal2::backdrop{
    background-color: rgba(0, 0, 0, 0.787);
}
#modal3::backdrop{
    background-color: rgba(0, 0, 0, 0.787);
}


.txt{
    position:absolute;
    left: 20px;
    color:#fff

}

#modal{
    position: fixed;
    width: 90%;
    height: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: aquamarine;
    margin: auto;

    
}
#modal2{
    position: fixed;
    width: 90%;
    height: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: aquamarine;
    margin: auto;    
}
#modal3{
    position: fixed;
    width: 90%;
    height: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: aquamarine;
    margin: auto;    
}


.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.caja{
    position: absolute;
    display: inline-block;

}
.txt1{
    position:absolute;
    left: 10px;
    color:#f2f2f2;
    
}
.txt2{
    position: absolute; 
    left: 15%;
    color:#fff;
    text-align: center;
    right: 15%;
    font-size: 18px;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}
/* Menu 4*/
.experts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    display: block;
    margin: auto;
    width: 80%;
}

.n-expert{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
}
.n-expert a{
    color:#1e9817;
    
}

.n-expert a:hover{
    color:#1e9817;
   
}

/* Pie*/
footer{
    background: #000000;  /* fallback for old browsers */
    background-image: linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(135deg, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo{
    width:60%;
}
.foot{
    width:30%;
    color: #fff;
    text-align: center;
}
.contact-us{
    width: 30%;
    color: #fff;
}
.up{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.up-icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    justify-content: center;

}
.up-icon i{
    font-size: 30px;
    line-height: 60px;

}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #1e9817;
    color:#fff;
}

/*RESPONSIVE*/
@media screen and (max-width: 800px){
 
    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    
    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }
    .gallerychild{
    
        width: 45%;
    }
    

    .img-galeria{
        width: 100%;
    }
    
    
    .cont-expert{
        width: 80%;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        justify-content: center;
        /*margin-bottom: 40px;*/
    }
  
    .foot{
        width:80%;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .logo{
        width:40%;

    }
}


@media screen and (max-width: 550px){
  

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }
    .gallerychild{
    
        width: 85%;
    }

    .img-galeria{
        width: 100%;
    }
    
   

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 100%;
        /*margin-bottom: 10px;*/
        justify-content: center;
    }
  
    foot{
        width:100%;
    }
    .logo{
        width:40%;
    }
}
